/* ==========================================
   Pharmacy ERP Responsive
========================================== */

/* Laptop */

@media(max-width:1200px){

    .erp-page{

        gap:12px;

    }

}

/* Tablet */

@media(max-width:992px){

    .erp-page-header{

        flex-direction:column;

        align-items:flex-start;

    }

    .erp-toolbar{

        width:100%;

        overflow:auto;

    }

}

/* Mobile */

@media(max-width:576px){

    .erp-content{

        padding:12px;

    }

    .erp-page-header-right{

        width:100%;

    }

    .erp-page-header-right .ant-btn{

        width:100%;

    }

    .ant-table{

        font-size:12px;

    }

    .ant-card{

        border-radius:12px;

    }

}